<ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <app-list-year-multiple-winners></app-list-year-multiple-winners>
    </ion-col>

    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <app-top-studio-winners></app-top-studio-winners>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <app-interval-between-wins></app-interval-between-wins>
    </ion-col>

    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <app-list-movie-winners-year></app-list-movie-winners-year>
    </ion-col>
</ion-row>